/*****

Stylesheet to set the COLORS of the page elements.
(c) Irmen de Jong -- part of Frog

BLUE colors.
colors in use:
	#000000
	#000040
	#203040
	#204050
	#303030
	#406080
	#808090
	#b0b0c0
	#c0c0d0
	#d0d0d8
	#e0e0e8
	#e8e8f0
	#f8f8fc
	#ffffff
    #e05030
    #50b030
    
********/

html, body {
	color: green;
	background: #808090;
}
a {
	color: #406080;
}
a:hover {
	color: #000000;
	background: #e0e0e8;
}

.vnav span.title	{	border-bottom-color: #b0b0c0; color: #406080;    }
.vnav a		{	color: #204050;    }
.hnav a		{	color: #203040;    }
.hnav a:hover {    color: #000000; background: #c0c0d0;    }

div.page {
	color: #203040;
	background: #f8f8fc; 
}

div.heading, div.heading a.invisible
{
    color: #ffffff;
    background: #000040;
	border-bottom-color: #ffffff;
}

div.footer
{
    color: #204050;
    background: #e0e0e8;
	border-top-color: #303030;
	border-bottom-color: #303030;
}

div.hnav
{
    color: #204050;
    background: #e0e0e8;
	border-bottom-color: #303030;
}

div.menucolumn
{
    background: transparent;
	border-right-color: #d0d0d8;
}

div.contentcolumn pre
{
	color: #203040;
	background: #e8e8f0;
	border-color: #d0d0d8;
}

div.contentcolumn blockquote
{
	color: #203040;
    border-left: solid #d0d0d8 2px;
    border-right: solid #d0d0d8 2px;
    border-top: dotted #d0d0d8 1px;
    border-bottom: dotted #d0d0d8 1px;
    padding-left: 4px;
    padding-right: 4px;
}

div.contentcolumn h1,div.contentcolumn h2,div.contentcolumn h3,div.contentcolumn h4,div.contentcolumn h5,div.contentcolumn h6
{
    color: #406080;
}

div.contentcolumn	{	background: #f8f8fc;   }
span.count			{	color: #b0b0c0;    }
span.error			{	color: #e05030; font-weight: bold;  }
span.message		{	color: #50b030; font-weight: bold;  }
div.category 		{	border-color: #d0d0d8; }
div.comment 		{	border-top-color: #b0b0c0;    }

div.article h4      {   background-color: #e8e8f0; border-bottom: solid #d0d0d8 1px; }

address
{
    color: #406080;
	border-top-color: #b0b0c0;
}

fieldset {
	border-color: #c0c0d0;
}
fieldset legend {
	color: #204050;
}
